.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  /* background-color: black; */
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.8715861344537815) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: url('assets/cielogrande.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.returnHome:hover {
  color: rgb(19, 152, 230);
}

.card {
  box-shadow: 4px 4px 4px rgb(19, 152, 230);
}

@media screen and (max-width: 995px) {
  .meteo {
    overflow-x: scroll;
  }
}
